

.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.header{
    padding: 0 160px;
}
.discription{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 80%;
}
.fira-sans-normal{
    background-color: #F1F1F3;
}

/* nav style */
nav{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.nav-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
   
    
}
nav ul li{
    list-style: none;

}
.btn-primary{
    font-family: "Fira Sans", serif;
    color: #006A50;
    border-color: #006A50 ;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    
}
.btn-primary:hover{
     background-color: orangered;
    
}
ul li a{
    text-decoration: none;
    color: #006A50;
}

/* banner style */
.banner{
    display: flex;
    background-color: #C6E4D6;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    width: 1180px;
    height: 540px;
    margin: auto;
    
}
.banner-content{
   margin-left: 60px;
}
.banner img{
margin-right: 60px;
}
.sub-title{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
    margin-bottom: 30px;
}
.btn-primary1 {
    font-family: "Fira Sans", serif;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    
}
.btn-primary1:hover{
background-color: orangered;
}

.banner-discription{
    font-size: 53px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 16px;
}

/* card vision style */

.card-vison{
    margin: 80px auto;
    text-align: left;    
}
.card-title{
    font-weight: bold;
    font-size: 40px;
}
.card-discription{
    color: #0E0E0E;
    line-height: 24px;
    opacity: 80%;
    margin-top: 24px;
    margin-bottom: 32px;
}
.card-title1{
    font-weight: bold;
    font-size: 16px;
    opacity: 80%;
    color: #0E0E0E;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;

}
.card-1{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 16px;   
}
.card-2{
    padding: 32px;
    background-color: #F7EBCF;
    border-radius: 16px;   
}
.card-title-1{
   font-size: 20px;
   font-weight: bold;
   color: rgba(14, 14, 14, 0.8);

}
.btn-1{
    font-size: 16px;
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn-2{
    font-size: 16px;
    background-color: #09A15C;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn-3{
    font-size: 16px;
    background-color: #FFC239;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn-1:hover,.btn-2:hover, .btn-3:hover{
background-color: brown;
}
.card-section-2{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 24px;
    background-position-y: 25px;
    margin-top: 32px;
    background-color: #FFFFFF;
    padding: 48px 24px;
    border-radius: 16px;
}
.card-section-sub{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 0;
}
.header-title-2{
    font-weight: 600;
    font-size: 20px;
    opacity: 80%;
    margin-bottom: 0px;
}

/* news section */

.left-image{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
}
.news-part{
    margin-top: 0px;
    height: 290;
}
.news-item{
    display: grid;
    row-gap: 24px;
}
.left-image img{
    border-radius: 24px;
    margin-top: 0px;
}
.news-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 32px;
    color: #0E0E0E;
    opacity: 80%;
}
.news-sub-title{
    font-size: 16px;
    color:#0E0E0E;
    opacity: 80%;
    margin-bottom: 16px;
    gap: 12px;
}
.news-btn{
    background-color: #006A50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
}
.news-sub-title span{
    margin-left: 12px;
}
.news-btn:hover{
    background-color: orangered;
}
.news-header{
    margin-bottom: 32px;
}
.news-header-dis{

}
/* News section */

/* Donate Style Start */
.donate{
    margin-top: 50px;
    margin: 80px 0px;

}
.option{
    display: flex;
    padding: 40px;
    font-size: 40px;
    justify-content: center;
    justify-content: safe;
    font-weight: bold;
    gap: 24px;
    background-color: #C6E4D6;
}
.donat-title{
    text-align: center;
}
.donat-title-1{
    font-size: 40px;
}

/* footer style Start */

.fotter{
   background-color: #FFFFFF;
   padding: 50px 0px;
   justify-content: center;
}
.footer-title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
hr {
    width: 1122px;
    margin-bottom: 32px;
}
.footer-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
}